@{
    ViewBag.Title = "Welcome, editor...";
}
<h2>@ViewBag.Title.</h2>
<br />
<br />

<input type=button  onClick="location.href = 'http://localhost:60800/Freelancer/Index'" value='Freelance Status'>